#about-text {
    left: 15px;
    position: absolute;
    top: 50%;
}

#myTab {
    background-color: rgb(115, 179, 90);
}

#load, #tabular-output, #graphical-output {
    margin-left: 50px;
    margin-bottom: 50px;
}

.tab-content {
    position: relative;
    top: 15px;
}

p {
    max-width: 900px;
}

body {
    background-color: rgb(141, 204, 230);
}

/* Styles for the table */
.tableData {
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    font-family: "Quicksand", sans-serif;
    font-size: 14px;
    font-weight: bold;
    overflow: hidden;
}

.tableData th,
#tableHelp th {
    background: #009578;
    color: #ffffff;
    text-align: left;
}

.tableData th,
.tableData td {
    padding: 10px 20px;
}

/* 
    The pseudo-class :nth-child is used to add a style to elements based on the numbering in the element tree 
    even - all even elements
*/
.tableData tr:nth-child(even) {
    background: #eeeeee;
}

.tableData tr:nth-child(odd) {
    background: silver;
}
  